.red { background-color: #ff736180; }
.green { background-color: #00cc0080; }
.blue { background-color: #0066cc80; }
.yellow { background-color: #cccc0080; }
.magenta { background-color: #9900cc80; }
.mint { background-color: #66ffcc80; }
.lightblue { background-color: #99ccff80; }
.brown { background-color: #73490080; }
.black { background-color: #00000080; }

body {
  font-size: 100%;
  background-image: url(../images/interlaced.png);
  margin: 0px;
  font-family: 'IBM Plex Sans', sans-serif;

}

footer {
  color: #00000050;
  bottom: 0;
  position: fixed;
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* header */
header {
  background-image: linear-gradient( #efffef, #ffffff);
  border: 0px;
  margin: 0px;
  padding: 20px;
  box-shadow: 0px 7px 10px #999999;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Site title */
div.title {
  font-family: 'Roboto Slab', serif;
  font-size: 300%;
}

/* Title effect */
span.grey {
  color: #667766;
}

div.strip {
  margin-top: 7px;
  font-size: 130%;
}

.strip-item {
  padding: 5px;
  border: 3px solid rgba(0, 0, 0, 0);
  margin-right: 30px;
  color: black;
  text-decoration: none;
  color: #667766;
}

/* Link box effect */
a.strip-item:hover {
  border: 3px solid rgba(102, 119, 102, .9);
  background-color: rgba(200, 200, 200, .1);
  color: #000000;
}

section {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  padding: 20px;
  box-shadow: 7px 7px 10px #999999;
}

img {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0px auto;
}

/* buttons */
button {
  background-color: #efffef;
  border: 1px solid black;
  padding: 6px;
  border-radius: 2px;
}

/* sudoku grid */
td div {
  width: 53px;
  height: 53px;
}

#grid {
  word-wrap: break-word;
  font-family: 'Roboto Slab', serif;
  border-collapse: collapse;
  float: left;
  margin-left: 300px;
  border-color: black;
  cursor: pointer;
}

#grid td.note {
  color: #0DA133;
  border-color: black;
  font-size: 130%;
}

#grid td.digit {
  font-size: 275%;
  margin: 0 auto;
}

#grid td.selected {
  background-color: rgba(118, 215, 196);
}

#grid td.locked {
  color: black;
}

#grid td {
  color: green;
  border: 1px black solid;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  padding:0px;
}

#grid td.error {
  background-color: red;
  color: white;
  border-color: black;
}

/* give boxes stronger border*/
#grid td:first-child {
  border-left: solid;
  border-color: black;
}
#grid td:nth-child(3n) {
  border-right: solid;
  border-color: black;
}
#grid tr:first-child {
  border-top: solid;
  border-color: black;
}
#grid tr:nth-child(3n) td {
  border-bottom: solid;
  border-color: black;
}

/* controls & options pane */
table.mode-select {
  padding-left: 30px;
  margin: auto;
}

table.mode-select button{
  width: 45px;
  height: 45px;
  padding: 0px;
}

div.controls {
  background-color: white;
  border: solid black 3px;
  width: 200px;
  margin-left: 830px;
  margin-right: 15%;
  margin-top: 35px;
  padding: 20px;
}

div.controls table{
  margin: auto;
  padding: 0;
}

div.controls td {
  padding: 2px;
}

div.controls table button {
  width: 45px;
  height: 45px;
  border: 1px solid black;
}

table.digit button {
  font-size: 150%;
  background-color: #efffef;
  margin: 0px;
}

table.note button {
  font-size: 100%;
  background-color: #efffef;
  margin: 0px;
}

table.color button {
  color: rgba(0, 0, 0, 0);
  font-size: 100%;
  margin: 0px;
}

div.options {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.game-select {
  margin-top: 10px;
  margin-bottom: 5px;
}


/* Sliders */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 21px;
}

/* Hide default HTML check box */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}